# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
graph.png

# Virtual environment
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# LangChain / LangGraph caches (optional)
*.sqlite
*.jsonl

# Secrets / API keys
.env